<a href="https://colab.research.google.com/github/bhargav23/AI/blob/master/Lab/Exploratory_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exploratory data analysis
* Frequency tables
* Two way tables
* Two way table joint probability
* Two way table marginal probability
* Two way table conditional probability
* Correlation

In [0]:
import pandas as pd
import numpy as np

In [0]:
data = pd.read_csv('https://raw.githubusercontent.com/bhargav23/Dataset/master/Toyota.csv',index_col=0)

### Frequency tables
**pandas.crosstab()**
* To compute a simple cross tabulation of one, two (or more) factors
* By default computes a frequency table of the factors

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1336 non-null   float64
 2   KM         1436 non-null   object
 3   FuelType   1336 non-null   object
 4   HP         1436 non-null   object
 5   MetColor   1286 non-null   float64
 6   Automatic  1436 non-null   int64
 7   CC         1436 non-null   int64
 8   Doors      1436 non-null   object
 9   Weight     1436 non-null   int64
dtypes: float64(2), int64(4), object(4)
memory usage: 123.4+ KB

In [4]:
pd.crosstab(index=data['FuelType'],columns='count')

col_0     count
FuelType
CNG          15
Diesel      144
Petrol     1177

Most of the cars have petrol as fuel type

### Two way tables
* To look at the frequency distribution of gearbox types with respect to different fuel types of the cars
* Automatic 
  * 0 - Manual gear box
  * 1 - Automatic gearbox

In [5]:
pd.crosstab(index=data['FuelType'],columns=data['Automatic'])

Automatic     0   1
FuelType
CNG          15   0
Diesel      144   0
Petrol     1104  73

### Two way table - joint probability
* Joint probability is the likelihood of two independent events happening at the same time

In [6]:
pd.crosstab(index=data['FuelType'],columns=data['Automatic'],normalize=True)

Automatic         0         1
FuelType
CNG        0.011228  0.000000
Diesel     0.107784  0.000000
Petrol     0.826347  0.054641

### Two way table - marginal probability
* Marginal probability is the probability of the occurrence of the single event

In [7]:
pd.crosstab(index=data['FuelType'],columns=data['Automatic'],margins=True)

Automatic     0   1   All
FuelType
CNG          15   0    15
Diesel      144   0   144
Petrol     1104  73  1177
All        1263  73  1336

In [8]:
pd.crosstab(index=data['FuelType'],columns=data['Automatic'],margins=True,normalize=True)

Automatic         0         1       All
FuelType
CNG        0.011228  0.000000  0.011228
Diesel     0.107784  0.000000  0.107784
Petrol     0.826347  0.054641  0.880988
All        0.945359  0.054641  1.000000

### Two way table - conditional probability
* Conditional probability is the probability of an event(A), given that another event (B) has already occurred
* Given the type of gear box, probability of different fuel type

In [9]:
pd.crosstab(index=data['FuelType'],columns=data['Automatic'],normalize='index')

Automatic         0         1
FuelType
CNG        1.000000  0.000000
Diesel     1.000000  0.000000
Petrol     0.937978  0.062022

### Correlation
* Correlation: the strength of association between two variables
* **DataFrame.corr(self, 'pearson')**
* To compute pairwise correlation of columns excluding NA/null
values
* Excluding the categorical variables to find the Pearson’s
correlation

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1336 non-null   float64
 2   KM         1436 non-null   object
 3   FuelType   1336 non-null   object
 4   HP         1436 non-null   object
 5   MetColor   1286 non-null   float64
 6   Automatic  1436 non-null   int64
 7   CC         1436 non-null   int64
 8   Doors      1436 non-null   object
 9   Weight     1436 non-null   int64
dtypes: float64(2), int64(4), object(4)
memory usage: 123.4+ KB

In [0]:
d1 = data.select_dtypes(exclude=['object'])

In [12]:
d1

      Price   Age  MetColor  Automatic    CC  Weight
0     13500  23.0       1.0          0  2000    1165
1     13750  23.0       1.0          0  2000    1165
2     13950  24.0       NaN          0  2000    1165
3     14950  26.0       0.0          0  2000    1165
4     13750  30.0       0.0          0  2000    1170
...     ...   ...       ...        ...   ...     ...
1431   7500   NaN       1.0          0  1300    1025
1432  10845  72.0       0.0          0  1300    1015
1433   8500   NaN       0.0          0  1300    1015
1434   7250  70.0       1.0          0  1300    1015
1435   6950  76.0       0.0          0  1600    1114

[1436 rows x 6 columns]

In [13]:
d1.shape

(1436, 6)

In [14]:
d1.corr()

              Price       Age  MetColor  Automatic        CC    Weight
Price      1.000000 -0.878407  0.112041   0.033081  0.165067  0.581198
Age       -0.878407  1.000000 -0.099659   0.032573 -0.120706 -0.464299
MetColor   0.112041 -0.099659  1.000000  -0.013973  0.029189  0.057142
Automatic  0.033081  0.032573 -0.013973   1.000000 -0.069321  0.057249
CC         0.165067 -0.120706  0.029189  -0.069321  1.000000  0.651450
Weight     0.581198 -0.464299  0.057142   0.057249  0.651450  1.000000